.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
}

.card-overlay {
  background-color: #fff;
  border-radius: 10px;
  padding: 25px;
  width: 100%;
  max-width: 450px;
  box-shadow: 0 4px 12px #d6be46;
  transition: box-shadow 0.3s ease;
}

.card-overlay:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.title-of-SignUp {
  text-align: center;
  margin-bottom: 20px;
}

.title-of-SignUp h2 {
  font-size: 26px;
  font-weight: bold;
  color: #333;
}

.title-of-SignUp p {
  font-size: 18px;
  color: #777;
}

.input-wrapper {
  margin-bottom: 20px;
}

.input-wrapper label {
  font-size: 16px;
  color: #333;
  margin-bottom: 8px;
  display: block;
}

.input-wrapper input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-wrapper input:focus {
  border-color: #007bff;
  box-shadow: 0 0 6px rgba(0, 123, 255, 0.2);
}

button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
