<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../stylesheets/2.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="form2-container">
      <h1>Create a new account</h1>

      <form action="/auth/sign-up" method="post" enctype="multipart/form-data">
        <label>Username:</label>
        <input
          type="text"
          name="username"
          required
          placeholder="Enter your username"
        />
        <br />
        <label>Password:</label>
        <input
          type="password"
          name="password"
          minlength="9"
          required
          placeholder="Enter at least 9 characters"
        />

        <br />
        <label>Confirm Password:</label>
        <input
          type="password"
          name="confirmPassword"
          minlength="9"
          required
          placeholder="Enter at least 9 characters"
        />
        <br />
        <label>Upload photo:</label>
        <input type="file" name="photo" accept="image/*" required /><br /><br />

        <div id="photoPreview" class="photo-preview"></div>

        <button type="submit">Sign up</button>
      </form>
    </div>
  </body>
</html>
