body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
.header-link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #eab676;
  height: 40px;
}
#link-1 {
  color: black;
  position: relative;
  right: 30px;
  font-size: 25px;
  text-decoration: none;
}
#link-2 {
  color: black;
  position: relative;
  right: 10px;
  font-size: 25px;
  text-decoration: none;
}
#link-3 {
  color: black;
  position: relative;
  left: 10px;
  font-size: 25px;
  text-decoration: none;
}
#link-4 {
  color: black;
  position: relative;
  left: 30px;
  font-size: 25px;
  text-decoration: none;
}
