body {
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
}

.header-link {
  display: flex;
  justify-content:space-around;
  align-items: center;
  background-color: #eab676;
  height: 40px;
}

#link-1 {
color: black;
position: relative;
right: 30px;
font-size: 25px;
text-decoration: none;
}

#link-2 {
  color: black;
  position: relative;
  right: 10px;
  font-size: 25px;
  text-decoration: none;
  }

  #link-3 {
    color: black;
    position: relative;
    left: 10px;
    font-size: 25px;
    text-decoration: none;
  }

  #link-4 {
    color: black;
    position: relative;
    left: 30px;
    font-size: 25px;
    text-decoration: none;
  }

/* sing up */

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signin {
  min-height: calc(100vh - 4em);
  align-items: center;
  justify-content: center;
}

.card-overlay {
  /* border: 2px solid var(--primary-button-hover); */
  width: 60%;
  height: 400px;
  padding: 1em;
  border-radius: 80px;
  background-color: #eab676;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.3);
}

form,
.input-wrapper {
  margin: auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100px;
}

